.headerModule {
    display:grid;
    grid-template-columns: 1fr 2fr;
    font-size: 1.2rem;
    height: auto;
    margin: auto auto;
    padding:0.5rem;
    width: 100%;
    color:var(--text-color);
}

.headerModule > a {
    margin: auto auto;
}

.headerModule > a > img {
    width: 25vw;
    max-width: 80px;
    border-radius: 50%;
    min-width: 2rem;
}

.headerModule > h1 {
    text-shadow: var(--text-shadow);
}

