.navUl {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.navUl > a {
    color: var(--text-color);
    font-weight: 500;
    transition: 0.25s;
    text-shadow: var(--text-shadow);
}

.navUl > a:hover {
    text-decoration: underline;
    font-size: 1.1rem;
}

.gradient {
    background: linear-gradient(to top, black, transparent);
}

.navIcon {
    padding: 0 1vw;
}

/* .navContainer { */