.search {
    position: relative;
    margin: 0.7rem 0.25rem;
}

.search > input {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    
    padding: 0.45rem 3rem 0.45rem 0.45rem;
    font-size: 1rem;
    font-weight: 450;
    color: var(--text-color);

    border-radius: 18px;
    border-style: solid;
    border-color: var(--border-comp-color);
    border-width: var(--border-comp);

    background-color: var(--card-bkg);
    ;
    
}

.search > input:focus-visible{
    outline-color: white;
    outline-style: solid;
    outline-width: 1px;
    background-color: #ffffff80;
}

.search > input::placeholder {
    color: var(--text-color);
    font-weight: 450;
}



.search > button {
    position: absolute !important;
    top: 0.3rem;
    right: 0.42rem;
}

.search > button > span {
    display:none;
    
}

@media screen and (min-width: 600px) {
    .search > button {
        width: 6rem;
        border-radius: 16px;
        transition: all 0.5s;
    }

    .search > button > span {
        display: inline;
        padding: 0.25rem 0.25rem;
        
    }
}