@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', 'Droid Sans', 'Helvetica Neue';
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-image: url('https://sites.google.com/site/losarbolesdesakura/_/rsrc/1469216443966/home/tunel-de-arboles-en-sakura-japon.jpg');
  background-position: center;
  width: 100vw;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
